@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

div {
  display: flex;
  flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}